#process-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#process-body {
  margin-bottom: 100px;
  max-width: 1200px;
  min-width: 780px;
}

.process-cards-holder {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.process-card {
  width: 300px;
  padding: 40px 0;
  margin: 20px 0;
  margin-right: 80px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0%;
  opacity: 0.8;
  line-height: 130%;
}

.process-card-body {
  font-size: 0.85rem;
  letter-spacing: 0;
}

.process-card-title {
  text-transform: capitalize;
  font-weight: 900;
  padding-bottom: 20px;
  font-family: "DM Serif Display", serif;
  font-size: 1.2rem;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.process-card-span {
  width: 75%;
}

.process-card svg {
  width: 30px;
  height: 30px;
}

.selected {
  background: var(--white);
  color: black;
}

@media screen and (max-width: 1000px) {
  #process-body {
    margin-bottom: 100px;
    min-width: unset;
  }

  .process-cards-holder {
    flex-direction: column;
  }

  .process-card {
    margin-right: unset;
  }
}
