.listing-item-holder {
  max-width: 800px;
  font-size: 1.4rem;
  margin-bottom: 40px;
  color: text;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.listing-item-holder:hover {
  opacity: 0.8;
}

.listing-photos {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.listing-item-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.25rem 0;
  color: var(--black);
  opacity: 0.8;
}

.listing-item-body {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.listing-details-holder {
  display: flex;
  letter-spacing: 0;
}

.listing-detail {
  font-size: 10px;
  margin-right: 0.75rem;
  text-align: center;
}

.listing-detail div:nth-of-type(2) {
  opacity: 0.8;
  font-size: 10px;
}

.listing-price {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.listing-activity {
  margin-right: 10px;
  padding: 5px 10px;
  background: var(--black);
  color: var(--white);
}
