@media screen and (max-width: 1000px) {
  #mobile-nav {
    display: block !important;
  }
  #nav-bar {
    display: none !important;
  }
}

.nav-black a {
  color: black !important;
}

.nav-black button {
  border-color: black;
}
.nav-black button:hover {
  background: black;
  color: white;
}
.nav-black button:hover a {
  color: white !important;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: var(--black);
  font-size: 0.85rem;
}

.nav-bar-home {
  background: transparent !important;
  position: absolute !important;
}

#nav-items-holder {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-item {
  margin-left: 3rem;
}

.nav-logo {
  padding: 1rem 2rem;
  font-family: "DM Serif Display", serif;
  letter-spacing: 1px;
}

.nav-logo a {
  color: white;
}

.nav-item a {
  border: 1px solid transparent;
  padding: 5px 0;
  color: white;
  display: block;
  transition: all 0.2s ease;
  opacity: 0.6;
}

.active {
  opacity: 1 !important;
}
