#footer-holder {
  background: linear-gradient(
    29deg,
    rgba(22, 22, 29, 0.95) 0%,
    rgba(22, 22, 29, 1) 48%
  );
  
}

#footer {
  color: var(--white);
  padding: 100px 60px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 100;
  opacity: .8;
}

#footer-holder p {
  margin: 0;
  font-size: 0.75rem;
  padding: 0;
}

.footer-card {
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0;
}

.footer-socials svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#footer-holder svg path {
  fill: var(--white);
}

.footer-items-holder {
  width: max-content;
  padding: 0 100px;
}
.footer-items-holder-routes {
  padding: 0 100px;
}

.footer-items-holder-routes h3 
{
  text-align: right;
  margin: 0;
  padding: 5px 0;
  font-weight: 100;
  border-bottom: 1px solid rgba(255,255,255,.7);
  cursor: pointer;
}
.footer-items-holder-routes h3:first-of-type {
  padding-top: 0;
}
