#footer-holder {
  background: linear-gradient(
    29deg,
    rgba(22, 22, 29, 0.95) 0%,
    rgba(22, 22, 29, 1) 48%
  );
  color: var(--white);
  padding: 100px 60px;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 100;
}

#footer-holder p {
  margin: 0;
  font-size: 0.75rem;
  padding: 0;
}

.footer-card {
  margin-bottom: 20px;
  opacity: 0.6;
}

.footer-line {
  border-right: 1px solid var(--white);
  opacity: 0.6;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  padding: 10px 0;
  margin: 0;
}

.footer-socials svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#footer-holder svg path {
  fill: var(--white);
}

#footer-items-holder {
  padding: 0 100px;
  width: max-content;
}
