#create-list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 128, 0, 0.619);
  margin-bottom: 40px;
  padding: 0 20px;
  cursor: pointer;
  color: rgba(0, 128, 0, 0.619);
}

#create-list-button:hover {
  background: rgba(0, 128, 0, 0.619);
  color: var(--white);
}

#create-list-button svg {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}
