#blog {
  min-height: 100vh;
  padding-bottom: 200px;
}

#blog-body {
  display: flex;
  justify-content: center;
}

#blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
}
