#blog {
  min-height: 100vh;
  font-family: "Rufina", serif;
  padding-bottom: 100px;
}

#blog-header {
  height: 400px;
  position: relative; 
  display: flex;
  font-size: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#blog-header h2 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

#blog-header h1 {
  font-size: 4rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

#blog-body {
  display: flex;
  justify-content: center;
}

#blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
}
