@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rufina:wght@400;700&display=swap");

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Rufina', serif; */

:root {
  --black: #0b0c1a;
  --white: #f6f5f1;
  --dark-red: #62373d;
  --tan: #f0d7bd75;
}

html {
  font-family: "PT Sans", sans;
  background: var(--white);
}

body {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  cursor: pointer;
  background: transparent;
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
}

button:hover a {
  color: var(--black);
}

button:hover {
  background: var(--white);
}
