#contact-page {
  min-height: 100vh;
}

.contact-socials svg {
  margin-right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.contact-socials svg:hover {
  transform: scale(1.1);
}

#contact-headshot {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: -25px; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact-body {
  padding: 100px;
  display: flex;
  justify-content: center;
}

#contact-form {
  background: var(--white);
  padding: 4rem;
  width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  position: relative;
}

#contact-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#contact-form-header h1 {
  margin: 0;
  margin-left: 20px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.contact-info-item span {
  margin-left: 10px;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#contact-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  font-family: "PT Sans", sans;
  background: rgba(150, 150, 150, 0.1);
  box-sizing: border-box;
}

#contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  height: 200px;
  font-family: "PT Sans", sans;
  background: rgba(150, 150, 150, 0.1);
  box-sizing: border-box;
}

#contact-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--black);
  background: var(--black);
  color: white;
  font-family: "PT Sans", sans;
  cursor: pointer;
}

#contact-form button:hover {
  background: var(--white);
  color: var(--black);
}
